@import url('/fonts.css');

:root {
	--secondColor: #ff0066;
	--tertColor: #5170fe;
	--violetBlue: #2d39db25;
	--bgContainer: #3536508b;
	--mainBackground: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, #252746 35%, #252746 100%);
	--wrapperWidth: 60cqi;
	--mainBorder: 1px solid rgba(128, 128, 128, 0.305);
	--textAccent: #efeeeeeb;
	--blueAccent: #2d39db57;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: 'League Spartan', sans-serif;
	font-size: calc(15px + 0.3cqw);
	color: white;
}

body {
	background: linear-gradient(90deg, #101222 0%, #191a27 35%, #171930 100%);
	min-width: 320px;
	font-family: 'League Spartan', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.4rem;

	& a {
		line-height: 0;
	}
}

button {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border: none;
	border-radius: 10px;
	background-color: var(--tertColor);
	border: var(--mainBorder);
	font-size: 0.7rem;
	font-weight: 700;
	color: white;
	cursor: pointer;
	text-shadow: 0 0 5px black;
	justify-content: center;
	z-index: 9999;

	&:hover {
		background-color: #5171fed2;
	}
}

.button {
	background-color: var(--secondColor);
	text-shadow: 0 0 5px black;
	z-index: 9999;

	&:hover {
		background-color: #ff0066b9;
	}
}

ul {
	list-style: none;
	> li {
		margin-bottom: 0.5rem;
		color: white;
	}
}

h1 {
	line-height: 2.2rem;
}

h3 {
	padding: 1rem 0;
}

.rotate {
	transform: translatey(0px);
	/* transform: rotate(-130deg); */
	transition: transform 16.5s ease-in-out infinite;
}

.highlight {
	color: var(--secondColor);
	position: relative;
	display: inline-block;
	border-bottom: 3px solid transparent; /* Reserve space for the underline */

	&::after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 0;
		height: 7px;
		width: 100%;
		border: solid 3px var(--secondColor);
		border-color: var(--secondColor) transparent transparent transparent;
		border-radius: 100%;
	}
}

background-triangle1,
background-triangle2,
background-triangle3 {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	background: rgb(62, 100, 132);
	background: linear-gradient(0deg, rgb(23, 52, 79) 0%, rgb(3, 52, 107) 100%);

	@media (width < 451px) {
		display: none;
	}
}
