hero-wrapper {
	container-type: inline-size;
	margin: 3rem 0;
	padding-bottom: 2rem;
	width: 100%;
	display: block;

	& hero-section {
		container-type: inline-size;

		@media (width < 451px) {
			width: 94%;
			flex-direction: column-reverse;
			gap: 2rem;
		}

		width: var(--wrapperWidth);
		display: flex;
		margin: 0 auto;
		background-position: top left;

		& left-side {
			width: 35%;
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			align-self: center;
			margin-right: 10%;

			@media (width <451px) {
				width: 90%;
			}

			h1 {
				@media (width <451px) {
					font-size: 1.5rem;
					line-height: 1.6rem;
				}
			}

			& p {
				width: 40ch;
				line-height: 1.2rem;
				color: var(--textAccent);

				@media (width <451px) {
					width: 100%;
				}
			}

			& button {
				width: 40%;
			}
		}

		& right-side {
			@media (width <451px) {
				margin: 0;
			}

			& img {
				width: 100%;
				height: auto;
			}
		}
	}
}

tech-grid-wrapper {
	display: block;
	margin: 0 auto;

	@media (width <451px) {
		width: 94%;
	}


	& top-section {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: var(--wrapperWidth);

		@media (width < 451px) {
			width: 90%;
		}
	}

	& tech-grid {
		container-type: inline-size;
		width: var(--wrapperWidth);
		padding: 2rem 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		margin: 0 auto;
		position: relative;

		@media (width < 451px) {
			width: 94%;
			grid-template-columns: 1fr;
			padding-bottom: 0;
		}

		& .style {
			border: 3px solid rgba(128, 128, 128, 0.194);
			padding: 2rem;
			border-radius: 20px;
			text-align: center;
			background-color: #3536508b;

			& p {
				color: var(--textAccent);
			}

			& img {
				width: 20%;
			}
		}
		& background-triangle1 {
			/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
			right: 0;
			bottom: 0;
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			background: rgb(34, 193, 195);
			background: linear-gradient(130deg, rgb(34, 85, 195) 0%, rgb(45, 191, 253) 100%);
			opacity: 40%;
		}

		& background-triangle2 {
			/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
			right: 0;
			bottom: -3.5rem;
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			background: rgb(62, 100, 132);
			background: linear-gradient(0deg, rgb(34, 85, 195) 0%, rgb(3, 76, 107) 100%);
			opacity: 40%;
		}
		& background-triangle3 {
			/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
			right: 0;
			bottom: -5rem;
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			background: rgb(62, 100, 132);
			background: linear-gradient(0deg, rgb(23, 52, 79) 0%, rgb(3, 52, 107) 100%);
			opacity: 40%;
		}
	}
}

info-wrapper {
	display: block;
	margin-top: 3rem;
	margin: 0 auto;

	@media (width <451px) {
		width: 94%;
	}


	& info-section {
		padding: 2rem 0;
		display: flex;
		margin: 0 auto;
		width: var(--wrapperWidth);
		position: relative;

		@media (width < 451px) {
			width: 90%;
			flex-direction: column-reverse;
			padding-top: 0;
			padding-bottom: 2rem;
		}

		& left-side {
			display: block;
			width: 50%;
			padding: 1rem 0;
			position: relative;

			@media (width < 451px) {
				width: 100%;
				text-align: center;
			}

			& img {
				width: 90%;
				transform: translatey(0px);
				animation: float-item-1 6s ease-in-out infinite;
			}

			& background-triangle1 {
				/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
				left: 2rem;
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				background: rgb(34, 193, 195);
				background: linear-gradient(130deg, rgb(34, 85, 195) 0%, rgb(45, 191, 253) 100%);
				opacity: 40%;
			}

			& background-triangle2 {
				/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
				left: 0;
				bottom: 1.5rem;
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				background: rgb(62, 100, 132);
				background: linear-gradient(0deg, rgb(34, 85, 195) 0%, rgb(3, 76, 107) 100%);
			}
			& background-triangle3 {
				/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
				left: 5rem;
				bottom: -2rem;
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				background: rgb(62, 100, 132);
				background: linear-gradient(0deg, rgb(23, 52, 79) 0%, rgb(3, 52, 107) 100%);
			}
		}

		& right-side {
			width: 50%;
			height: 20%;
			margin-left: 10%;
			padding: 3rem 0;
			position: relative;

			@media (width < 451px) {
				width: 100%;
				margin: 0;
				text-align: center;
			}

			& h2 {
				margin-bottom: 1rem;
				> span {
					color: var(--secondColor);
					position: relative;

					&::after {
						content: '';
						position: absolute;
						bottom: -15px;
						left: 0;
						height: 7px;
						width: 100%;
						border: solid 4px var(--secondColor);
						border-color: var(--secondColor) transparent transparent transparent;
						border-radius: 70%;
					}
				}
			}

			& p {
				color: var(--textAccent);
			}

			& button {
				margin-top: 1rem;
			}
		}
	}
}

faq-wrapper {
	container-type: inline-size;
	margin-top: 5rem;
	text-align: center;
	display: block;
	position: relative;
	margin: 0 auto;

	@media (width <451px) {
		width: 94%;
	}


	& top-section {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: var(--wrapperWidth);

		@media (width < 451px) {
			width: 90%;
			margin-bottom: 1rem;
		}
	}

	& faq-section {
		padding: 2rem 0;
		display: flex;
		gap: 2rem;
		margin: 0 auto;
		width: var(--wrapperWidth);
		position: relative;

		@media (width < 451px) {
			flex-direction: column;
			width: 90%;
		}

		> section {
			width: 33.33%;
			text-align: center;

			@media (width < 451px) {
				width: 100%;
			}

			> p {
				color: var(--textAccent);
			}

			> img {
				width: 15%;
				height: auto;
			}
		}
	}

	& background-triangle1 {
		/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
		right: 37rem;
		top: 5rem;
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background: rgb(62, 100, 132);
		background: linear-gradient(0deg, rgb(34, 85, 195) 0%, rgb(3, 76, 107) 100%);
		opacity: 20%;
	}

	& background-triangle2 {
		/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
		left: 20rem;
		top: 25.5rem;
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background: rgb(62, 100, 132);
		background: linear-gradient(0deg, rgb(34, 85, 195) 0%, rgb(3, 76, 107) 100%);
		opacity: 40%;
	}
	& background-triangle3 {
		/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
		right: 44rem;
		bottom: 0;
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background: rgb(62, 100, 132);
		background: linear-gradient(0deg, rgb(23, 52, 79) 0%, rgb(3, 52, 107) 100%);
		opacity: 30%;
	}
}

action-call-wrapper {
	display: block;
	margin: 3rem 0;

	& action-call {
		width: 50%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		background: rgb(81, 112, 254);
		background: linear-gradient(121deg, var(--violetBlue) 50%, rgba(255, 0, 102, 1) 100%);
		padding: 0 4rem;
		border-radius: 20px;
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		border: 10px solid rgb(73, 66, 66);
		border-style: double;

		@media (width < 451px) {
			width: 90%;
			flex-direction: column;
			padding: 2rem 0;
		}

		& left-side {
			width: 70%;

			& h2 {
				width: 30ch;
				/* text-align: center; */
				text-shadow: 2px 2px #252746;
				line-height: 1.7rem;
				margin-bottom: 1rem;

				@media (width < 451px) {
					width: 100%;
				}

				& span {
					color: var(--secondColor);
					position: relative;

					&::after {
						content: '';
						position: absolute;
						bottom: -15px;
						left: 0;
						height: 7px;
						width: 100%;
						border: solid 4px var(--secondColor);
						border-color: var(--secondColor) transparent transparent transparent;
						border-radius: 70%;
					}
				}
			}
			& button {
				width: 40%;

				@media (width < 451px) {
					width: 100%;
				}
			}
		}
		& right-side {
			width: 30%;
			background-color: var(--violetBlue);
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

			@media (width < 451px) {
				display: none;
			}

			& svg {
				position: absolute;
				z-index: 0;
				opacity: 20%;
			}
			& img {
				z-index: 2;
				width: 100%;
				height: auto;
			}
			& background-triangle1 {
				/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
				right: 17rem;
				top: 5rem;
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				background: rgb(62, 100, 132);
				background: linear-gradient(0deg, rgb(34, 85, 195) 0%, rgb(3, 76, 107) 100%);
				opacity: 20%;
			}

			& background-triangle2 {
				/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
				right: 0;
				top: 2.5rem;
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				background: rgb(62, 100, 132);
				background: linear-gradient(0deg, rgb(34, 85, 195) 0%, rgb(3, 76, 107) 100%);
				opacity: 40%;
			}
			& background-triangle3 {
				/* border-radius: 30% 70% 70% 30% / 37% 30% 70% 63%; */
				right: 14rem;
				bottom: 3rem;
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				background: rgb(62, 100, 132);
				background: linear-gradient(0deg, rgb(23, 52, 79) 0%, rgb(3, 52, 107) 100%);
				opacity: 30%;
			}
		}

		& button {
			background-color: var(--secondColor);
			width: 70%;
		}
	}
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
		transform: translatey(0px);
	}
}

@keyframes float-item-1 {
	0% {
		transform: translatey(-10px);
	}
	50% {
		transform: translatey(15px);
	}
	100% {
		transform: translatey(-10px);
	}
}
